:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.viz-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: none;
  padding: 12px 20px;
}
